*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
    text-decoration-line: none;
}

ul,ol,li{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}