@font-face {
    font-family: 'avenir';
    src: url('/assets/fonts/Avenir\ LT\ 35\ Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'lulo';
    src: url('/assets/fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf') format('truetype');
  }